
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
       color: rgb(3, 3, 3);
       text-align: center;
       overflow: hidden;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   main{
    background-color: #dbdbdb;
   }

   .section-nosotros__title{
    text-align: center;
    padding: 20px;
   }
   

   .galeria-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   }

   .galeria-nosotros__card{
    width: 80%;
    height: 30vh;

    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    justify-items: center;

   }

   .galeria-nosotros__card--destacada{
    background-image: url(../assets/img/nosotros.jpg);
    background-size: cover;
   }
   
   .galeria-nosotros__card--secundaria1{
    background-image: url(../assets/img/card1.jpg);
    background-size: cover;
   }

   .galeria-nosotros__card--secundaria2{
    background-image: url(../assets/img/card2.jpg);
    background-size: cover;
   }

   .galeria-nosotros__card--secundaria3{
    background-image: url(../assets/img/card3.jpg);
    background-size: cover;
   }

   .galeria-nosotros__card--secundaria4{
    background-image: url(../assets/img/card4.jpg);
    background-size: cover;
   }
   
   
   @media (min-width:768px){
    .galeria-nosotros{
        display: grid;
        grid-template-columns: repeat(2.45%);
        grid-template-rows: 50vh repeat(2,45vh);
     
    }

    .galeria-nosotros__card{
        width: 100%;
        height: 100%;
    }

    .galeria-nosotros__card--destacada{
        grid-column: span 2;
    }

   }

   @media (min-width:1200px){

    .galeria-nosotros{
        grid-template-columns: repeat(3,25%);
        grid-template-rows: repeat(3,40vh);
    
    }

    .galeria-nosotros__card{
        width: 100%;
        height: 100%;
    }

    .galeria-nosotros__card--destacada{
        grid-column: span 4;
        grid-row: span 2;
        font-size: 4rem;
    }
    
    }

    .contenedor-formulario{
        background-image: url(../assets/img/);
        background-size: 100vw 100vh;
        background-attachment: fixed;
        margin: 0;
    }

    form{
        width: 450px;
        margin: auto;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 7px;
    }

    input, textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
    }
    

   footer{
   
       position: relative;
       width: 100%;
       background-color: #212022 ;
       min-height: 0%;
       position: relative;
       bottom: 0;
       display: flex;
       justify-content: flex-start;
       align-items: center;
       flex-direction: column;
   }
   
   footer .social_media{
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 10px 0;
   
   }
   
   footer .social_media li{
      list-style: none;
   }
   
   footer .social_media li a{
       font-size: 2em;
       color: white;
       margin: 0 10px;
       display: inline-block;
       transition: 0.5s;
   
   }
   footer .social_media li a:hover{
       transform: translate(-10px);
   }
   
   footer p{
       color: white;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
   }
   
