.container{
    margin-top: 3%;
    box-shadow: 0.9;
}

.inner {
    overflow: hidden;
}

.card-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-center{
    background-color: $color-cuarto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}


