.Card-body{
    background-color: rgb(173, 173, 173);
}

.Card-title{
    color: $color-secundario;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Card-text{
    color:$color-secundario;
    padding-left: 15px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo{

 background-color: $color-cuarto;
}
