.Card-body{
    background-color: rgb(173, 173, 173);
}

.Card-title{
    color: rgb(0, 1, 71);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Card-text{
    color: rgb(0, 1, 71);
    padding-left: 15px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo{

 background-color:#dbdbdb;
}
